#profile {
    width: 175px;
    margin-bottom: 50px;
}
#welcome {
    position: absolute;
    height: 800px;
    color: aqua;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#33c0f6 0%, #30fa97 100%);
    display: table;
    width: 100%;
    height: 100%;
}
body {
    text-align: center;
    color: darkgray;
    font-family: sans-serif;
}